.homeroute-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeroute-container_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeroute-title {
  font-family: var(--font1);
  font-size: 4rem;
  color: var(--color5);
  animation: fadein 1.5s ease-in forwards;
}

.homeroute-subtitle {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--font1);
  font-size: 1rem;
  color: var(--color4);
  border-right: 0.15em solid var(--color4);
  animation: typing 4s steps(55) 1s 1 normal both, blink 1s steps(1) infinite;
}

/** MEDIA QUERIES**/
@media screen and (max-width: 992px) {
  .homeroute-container_title {
    margin-top: -8rem;
  }
}
@media (max-width: 700px) {
  .homeroute-title {
    font-size: 3rem;
  }

  .homeroute-subtitle {
    font-size: 0.8rem;
  }
}
