.navbar {
  background: none;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: var(--font2);
  z-index: 10;
}

.changeColorNavbar {
  background-color: var(--color7);
}

.navbar-nav {
  margin-left: 3rem;
}
.navbar-logo {
  width: 4rem;
  margin-left: 1rem;
}

.nav-link {
  font-weight: bolder;
  color: var(--color5);
}
.nav-link:hover {
  transform: scale(1.05);
}
.active {
  color: var(--color1) !important;
}

.changeLinksColor {
  color: #ffffff;
  text-shadow: 1px 1px 1px var(--color4);
}
/* MEDIA QUERIES*/

@media (max-width: 992px) {
  .navbar {
    text-align: center;
    position: static;
    background-color: var(--color7);
  }
  .navbar-nav {
    margin-left: 0;
  }
}
